<fieldset>
    <legend>Captcha</legend>
    <input type="number" class="answer">
    <p class="error"></p>
    <button class="checkBtn">Check</button>
</fieldset>
<script src="/config.js"></script>
<script src="/js/index.js"></script>